@import '../../containers/App/styles/variables';

:local(.styles) {

  p {
    color: red
  }

  img {
    width: 100px;
    display:none;
  }

	#register-actions {
		max-width: 315px;
		margin: 0 auto;

		.btn {
			float: left;
		}

		a#reset {
			position: relative;
			top: 10px;
			float: left;
			margin-left: 20px;
		}
	}
}
